/* reset base styles */
body{
  display: flex !important;
}
#root {
  background-color: #fff;
  position: static;
  min-height: initial;
  top: initial;
  right: initial;
  left: initial;
  bottom: initial;
  display:flex;
  flex: 1;
}
.lw_map {
  display:flex;
  flex:1;
}
.lw_map .mapContainer {
  position: relative;
  height: 100%;
  width: 100%;
  top: initial;
  right: initial;
  left: initial;
  bottom: initial;
  z-index: 100;
}
.lw_map .mlMap {
  width: 100%;
  /*min-height: 60vh;*/
  display: flex;
  align-items: stretch;
}

.lw_map .mlMap > .mapContainer {
  width: 100%;
  height: 100%;
  z-index: unset;
  border-radius: 4px;
}

#root {
  padding:1rem;
  background-color:initial;
  width: 100%;
}

html, body {
    height: 100%;
    margin: 0;
}
body {
  padding: 0 !important;
}
.mapboxgl-control-container{
  display: none;
}
