{
  "plugins": [
    "@babel/plugin-transform-typescript",
    "babel-plugin-styled-components",
    [
      "inline-react-svg",
      {
        "svgo": {
          "plugins": [
            {
              "name": "preset-default",
              "params": {
                "overrides": { "mergePaths": false }
              }
            }
          ]
        }
      }
    ]
  ],
	"presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-typescript"]
}