strict-dep-builds=false
only-built-dependencies[]=cypress
only-built-dependencies[]=@swc/core
only-built-dependencies[]=core-js
only-built-dependencies[]=esbuild
only-built-dependencies[]=nx
only-built-dependencies[]=unrs-resolver
