html, body, #storybook-root, #root {
	height: 100%;
	margin: 0;
	padding: 0;
}

#root {
	background-color: #000;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#storybook-root > div,
#root > div {
	height: 100%;
}

.App {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.fullscreen_map {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.fullscreen_map .mapContainer {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 100;
}
