/**
 * #root {
  background-color: #000;
  position: absolute;
  min-height: 400px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.docs-story {
  min-height: 400px;
  display: flex;
  align-items: stretch;
}
.docs-story > div:first-child {
  width: 100%;
}
.MuiToolbar-root .MuiButtonBase-root {
  margin-right: 8px;
}

.App {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.mapContainer {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
}

.overlay {
  width: 100%;
  display: inline-flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 1 !important;
  padding-top: 1rem;
  padding-left: 1rem;
}
.MuiToolbar-root .MuiButtonBase-root {
  margin-right: 8px;
}
*/
