name: formatting-check
on:
  push:
    branches:
      - feature/eslint-prettier_github-action
  pull_request:
    branches:
      - feature/eslint-prettier_github-action
jobs:
  eslint:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-versions: [16.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        # Setup .npmrc file to publish to npm
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - id: files
        uses: jitterbit/get-changed-files@v1
        with:
          format: csv
      - name: Run scoped actions
        uses: DukeManh/scoped-actions@v1
        with:
          files: ${{ steps.files.outputs.added_modified}}
          eslintTarget: "**/*.{jsx,tsx,ts,js}"
          s0: "yarn install"
          s2: "yarn run eslint ."
#  prettier:
#    runs-on: ubuntu-latest
#
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v2
#        with:
#          ref: ${{ github.head:ref }}
#
#      - name: Prettify code
#        uses: creyD/prettier_action@v4.2
#        with:
#          #prettier optionen einbauen
